<h1><center><strong>Strings e Operações</strong></center></h1>

In [1]:
# Atribuição com aspas simples e duplas é permitido
nome = 'Antonio'

In [2]:
nome

'Antonio'

In [3]:
sobrenome = "Padua"

In [4]:
sobrenome

'Padua'

In [5]:
"Ambas funcionam"

'Ambas funcionam'

In [6]:
# Quebras de linha
print('Antonio\nde\nPadua')

Antonio
de
Padua

In [7]:
# Utilizando índices específicos
print('Primeira letra: ' + nome[0] + ", última letra: " + nome[6])

Primeira letra: A, última letra: o

<h3><center>Realizando Slicing</center></h3>

In [8]:
# Recebendo a string começando de uma posição com exceção da anterior, leitura de frente para trás com exceção do índice
nome[1:]

'ntonio'

In [9]:
nome[2:]

'tonio'

In [10]:
# Recebendo a string começando de uma posição incluindo até o índice, leitura de frente para trás incluíndo o índice
nome[:1]

'A'

In [11]:
nome[:2]

'An'

In [12]:
# String original
nome

'Antonio'

In [13]:
# Aqui, inicia-se a partir da primeira (n), depois alternando de 2x, (o) (i), pulando duas casas
nome[1::2]

'noi'

In [14]:
# Comportamento igual nesses casos, pois o que altera é o final
nome[1::]

'ntonio'

In [15]:
nome[2::]

'tonio'

In [16]:
""" Partindo do princípio que não tenho início da string mas quebras de caracteres
    aqui temos a string iniciando do primeiro caractere e 'pulando' casas 2x e 3x
"""
nome[::2]

'Atno'

In [17]:
nome[::3]

'Aoo'

In [18]:
# Recebendo a string a partir de uma posição negativa que significa que a leitura é de trás para frente
nome[-2:]

'io'

In [19]:
nome[-1:]

'o'

In [20]:
# Caso quisermos também pegar um índice de trás para frente, sem problemas
nome[-3]

'n'

In [21]:
# Novamente pegando a partir de um índice negativo, leitura de trás para frente
nome[-3:]

'nio'

In [22]:
# Nesse caso, o início começa a partir do último índice, saltando-se 3x, leitura de trás para frente
nome[::-3]

'ooA'

In [23]:
nome[::-2]

'ontA'

In [24]:
nome

'Antonio'

In [25]:
""" Aqui temos que ter calma, lendo-se a partir de uma posição lida de trás para frente (índice negativo)
    depois temos a quebra de caracteres realizada também de trás para frente, diferentemente do segundo
    caso, onde a quebra é realizada da frente para trás
"""
nome[-2::-2]

'ion'

In [26]:
nome[-3::2]

'no'

In [27]:
# Aqui, um outro exemplo
nome[-2::-3]

'it'

<h3><center>Exemplos de Atribuições</center></h3>

In [29]:
nome, sobrenome, nome_final = "Antonio de Padua", "Rodrigues", "Santos"

In [30]:
nome

'Antonio de Padua'

In [31]:
sobrenome

'Rodrigues'

In [32]:
nome_final

'Santos'

In [33]:
str1 = str2 = str3 = "Atribuindo ao mesmo tempo"

In [34]:
str1

'Atribuindo ao mesmo tempo'

In [35]:
str2

'Atribuindo ao mesmo tempo'

In [36]:
str3

'Atribuindo ao mesmo tempo'

In [37]:
primeiro = "Antonio"

In [38]:
segundo = 'Rorigues'

In [41]:
concatenacao = primeiro + " " + segundo

In [42]:
concatenacao

'Antonio Rorigues'

<h3><center>Built-in com Strings</center></h3>

In [48]:
# Todas as letras minúsculas
nome.lower()

'antonio de padua'

In [49]:
# Todas as letras maiúsculas
nome.upper()

'ANTONIO DE PADUA'

In [50]:
# Somente a primeira letra da String em maiúsculo
nome.capitalize()

'Antonio de padua'

In [58]:
# Recupera a posição da primeira ocorrência do caractere
nome.find('a')

12

In [59]:
# Quantidade de ocorrências do caractere
nome.count('a')

2

In [62]:
# Divide a string dividindo-a por espaços em caso de nenhum argumento
nome.split()

['Antonio', 'de', 'Padua']

In [64]:
# Nesse caso, após achar a ocorrência a string é dividida sem a presença da ocorrência
nome.split('d')

['Antonio ', 'e Pa', 'ua']

In [70]:
# Retorna verdadeiro ou falso caso a string termine de acordo com o argumento passado
nome.endswith('dua')

True

In [71]:
nome.endswith('edua')

False

In [76]:
# Atribuindo um valor
var = nome.lower()

In [78]:
# Testando se a variável é lower
var.islower()

True